/* account_appdata_backup.css -
 * part of info.freezr.public */

body{
  margin:0;
  padding: 0;
  font-size: 12px;
}
#toptitle {
  font-size: 10px;
  background-color: #EEE;
  padding:3px;
  padding-left: 10px;
  font-weight: bold;
  word-wrap:break-word;
}
#backToApp, #freezrHome {
  cursor: pointer;
  margin-left: 20px;
  font-weight: normal;
  color: blue;
}
#getAndSaveData, #uploadAndRestoreData {
  border: 1px solid #2060ff;
  border-radius: 5px;
  padding:14px;
  width:50%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  font-size: 16px;
  color: #2060ff;
}
#collection_area {
  text-align: center;
}
.marginLeft {
  margin-left: 15px;
}
#upload_area {
  margin-top: 50px;
  margin-left: 10px;
}
#upload_butts{
  margin-left:20px;
  height:40px;
  text-align: center;
  padding: 10px;
}
#skipRecord, #addRecord, #addAllRecords, #addAllFiles {
  float:none;
}
#current_record {
  border:1px solid grey;
  padding:10px;
}
#user_id_note{
  margin: 5px;
  padding-left: 10px;
  font-style: italic;
}
#upload_nums, #err_nums {
  padding:15px;
}
#collection_area {
  padding-left: 15px;
  margin-bottom: 10px;
}
#collection_names {
  width:100px;
  margin-top: -5px;
}
#warnings{
  color:red;
  font-size: 20px;
  font-weight: bold;
  padding-left: 8px;
  padding-right: 20px;
}
#backup_status {
  margin:10px;
}
#recordTable {
  table-layout: fixed;
  width: 100%;
}
tr {width:100%; vertical-align: top;}
td {word-wrap: break-word;}
.lhs {width:20%;}
.rhs {width: 75%;}
