
#warnings {
  border: 2px solid red;
  color: indianred;
  border-radius: 3px:
  width: 100%;
  padding:5px;
  background: yellow;
  display: none;
  transition:height 0.3s ease-out;
}

input {
  height: 20px;
  width: 20px;
}

.newDetailsDiv {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.field_for_add {
  font-size: 16px;
  margin-top: 10px;
  width:100px;
  display: inline-block;
}
.field_to_add {
  font-size: 16px;
  border:1px darkgrey solid;
  border-radius: 3px;
  width: 250px;
  min-width: 250px;
  display: inline-block;
  background-color: white;
}
.addNewButt {
  display: inline-block;
  margin: 10px;
	color:blue;
	text-align:center;
	padding:3px;
	background-color: #E2E2E2;
	border-radius:5px;
	font-weight: normal;
	cursor: pointer;
}
#button_copyUrl {
	color:blue;
	cursor: pointer;
}
#button_useSameServerForNewContact, #button_regenerateCodeForPrivateFeed {
  margin-left: 0px;
}
.alink {
  color: blue;
  cursor: pointer;
}

.used_butt {
  display: inline-block;
  margin: 10px;
	color:black;
	text-align:center;
	padding:3px;
	background-color: none;
	font-weight: normal;
  cursor: pointer;
}
#loader {
  display:none;
  margin-left: 80px;
}
.smallButt { /* to remove */
  width: 30px;
  margin-top: -10px;
  cursor: pointer;
}
.smallTextButt {
  display: inline-block;
  margin: 3px;
  margin-left:10px;
	color:blue;
	text-align:center;
	width: 50px;
	padding:2px;
	background-color: #E2E2E2;
	border-radius:3px;
	font-weight: normal;
	cursor: pointer;
}
.smallText {
  font-size: 10px;
  font-style: italic;
  display: inline-block;
}

.groupOuter {
  margin-bottom: 10px;
}
.group {
  font-size: 16px
}
.groupName {
  font-weight: bold;
  margin-right: 5px;
}
.groupEdit {
  cursor: pointer;
  color: blue;
  margin-right: 5px;
}
.groupMembers {
  margin-right: 5px;
  font-style: italic;
}

.mainSection, .subSection {
  margin-top: 30px;
  border-top: 1px dotted darkgray;
}

.gridlist  {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 2fr;
  /* grid-template-columns: 50px 50px 100px 200px 150px; */
  grid-gap: 2em;
  color: #222;
  border-top: 1px solid #ddd;
  padding: 1em 0;
}
.table_label {

}
.gridlist label {
}
.grid-header {
  border-top: 2px solid #ddd;
  text-decoration: underline;
  border-bottom: unset;
  font-weight: bold;
}
@media (max-width: 600px) {
  .gridlist {
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    text-align: left;
  }
  .grid-header {
    display: none;
  }
  .disappearing {
    display: inline-block;
  }  
  .addNewButt, .used_butt {
    width: 75px;
  }
}
@media (min-width: 600px) {
  #loader {
    display:none;
    margin-left: 180px;
  }
  .disappearing {
    display: none;
  }  
  .addNewButt, .used_butt {
    width: 150px;
  }
}
@media (max-width: 407px) {
  .revDisappearing {
    display: none;
  }
}
@media (min-width: 407px) {
  .revDisappearing {
    display: inline-block;
  }
}

.block_screen {
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  z-index: 999;
  overflow:hidden;
  opacity: 0.5;
}
#dialogue {
  position: absolute;
  top:40%;
  left:20%;
  display: none;
}
