
#warnings {
  border: 2px solid red;
  color: indianred;
  border-radius: 3px:
  width: 100%;
  padding:5px;
  background: yellow;
  display: none;
  transition:height 0.3s ease-out;
}



#button_add {
}

#add_new_details {
  margin-bottom: 30px;
  border-bottom: 2px solid grey;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease-out;
}
.field_for_add {
  margin-top: 10px;
  width:100px;
  display: inline-block;
}
.field_to_add {
  border:1px darkgrey solid;
  border-radius: 3px;
  width: 200px;
  min-width: 200px;
  display: inline-block;
  background-color: white;
}
.contacts_butt {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
	color:blue;
	text-align:center;
	width:195px;
	padding:3px;
	background-color: #E2E2E2;
	border-radius:5px;
	font-weight: normal;
	cursor: pointer;
}
.used_butt {
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 20px;
	color:black;
	text-align:center;
	width:195px;
	padding:3px;
	background-color: none;
	font-weight: normal;
  cursor: normal;
}
#loader {
  display:none;
  margin-left: 80px;
}
.smallButt {
  width: 30px;
  margin-top: -10px;
  cursor: pointer;
}

@media (min-width: 355px) {
  .contacts_butt {
    margin-left: 100px;
  }
  .used_butt {
    margin-left: 100px;
  }
  #loader {
    display:none;
    margin-left: 180px;
  }
}

#contacts_table {
  margin-top:30px;
}
.gridlist  {
  max-width: 800px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  grid-gap: 2em;
  color: #222;
  border-bottom: 1px solid #ddd;
  padding: 1em 0;
}
.table_label {

}
.gridlist label {
}
.grid-header {
  border-top: 2px solid #ddd;
  text-decoration: underline;
  border-bottom: unset;
  font-weight: bold;
}
@media (max-width: 400px) {
  .gridlist {
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
  }
  .grid-header {
    display: none;
  }
}

.block_screen {
  position: fixed;
  top:0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  display: none;
  z-index: 999;
  overflow:hidden;
  opacity: 0.5;
}
#dialogue {
  position: absolute;
  top:40%;
  left:20%;
  display: none;
}
