
body {
	margin: 0;
	padding: 0;
}
img {
	overflow: hidden;
}
.public_records_top{
	width:100%;
	font-size:18px;
	font-weight: bold;
	margin-bottom: 10px;
	text-align: right;
}

#pagetitle{
	float: left;
	text-align: left;
    margin-top: -20px;
    padding-left: 20px;
}
#page_title_link {
	font-size: 10px;
	color: blue;
	margin:0;
	padding:0;
}
#public_top_search {
	text-align: right;
	padding-right:6px;
    font-size: 16px;
    display: inline-block;
    font-weight: normal;
}
#searchBox {
	padding:2px;
	border-radius: 2px;
	border: 1px solid black;
	min-width:200px;
	background-color: rgba(232, 232, 232, 0.9);
	display: inline-block;
	text-align: left;
}
#searchButt {
	padding:4px;
	border-radius: 3px;
	background-color: rgba(232, 232, 232, 0.9);
	width:80px;
	border: 1px solid lightgray;
	text-align: center;
	font-size: 14px;
	display: inline-block;
    cursor: pointer;
    color: #2060ff;
}
.outer {
	font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
	margin:0 auto;
	background-image:url(/app_files/public/info.freezr.public/public/static/freezr_texture.png);
	background-repeat: repeat;
	max-width: 800px;
	padding:15px;
	padding-bottom: 100px;
}

.freezr_public_genericCardOuter {
	padding:5px;
	border:1px solid grey;
	border-radius:5px;
	margin: 5px;
	margin-bottom: 10px;
	font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
}

.freezr_public_genericCardOuter_overflower{
	max-height:350px;
	overflow:hidden;
}

.freezr_public_app_title {
	font-size:14px;
	font-emphasis:bold
}
.freezr_expander {
	position:relative;
	top: 360px;
	margin-top: -33px;
	float: right;
	padding: 5px;
	border-style: double;
	border-color: grey;
	margin-right: -2px;
	text-align: top;
	font-size: 8px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}
