body {
	font-family: "Lucida Sans Unicode", "Helvetica Neue", "Arial", sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}
#freezerMenuButt{
	position:absolute;
	right:5px;
	width:44px;
	cursor: pointer;
	z-index: 98;
}
.freezerMenuButt_Norm{
	top:3px;
}
.freezerMenuButt_Head{
	top:23px;
}
#freezer_dialogueOuter {
	position: fixed;
	cursor: default;
	left:0;
	top:0;
	width: 100%;
	height:100%;
	display: none;
	text-align:center;
    z-index: 99;
}
#freezer_dialogueScreen {
	position: absolute;
	width: 100%;
	height:100%;
	left:0;
	top:0;
	background-color: white;
	opacity: .6;
}
#freezer_dialogueInner {
	padding:5px;
	padding-top: 45px;
	min-width:200px;
	margin:5px;
	margin-top: 23px;
	text-align:left;
	border: 2px solid grey;
	border-radius:5px;
	background: white;
	min-height: 100px;
	height: 75%;
	overflow: scroll;
	opacity: .85;
	z-index: 99;
    -webkit-transition-duration: 500ms;
    -webkit-transition-timing-function:"ease-in";
    -webkit-transform: translate3d(0, 0, 0);

}
.appLogin_input{
	min-width:200px;
    width: 300px;
    border: 1px grey solid;
    display: inline-block;
    text-align: left;
    padding: 2px;
	margin-bottom: 15px;
}
.appLogin_name {
	margin-top: 10px;
	vertical-align: top;
}
#freezer_dialogueInnerText {

}
.freezer_dialogue_topTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	padding-right:80px;
	margin-top: 10px;
	padding-top: 10px;
}
#freezer_dialogue_closeButt {
	position: absolute;
	top:0px;
	right: 0px;
	background-color: #f5f5f5;
	opacity:0.9;
	margin:0;
	font-weight: normal;
	z-index: 99;
}
#freezer_dialogue_homeButt {
	position: absolute;
	top:0px;
	left: 0px;
  height: 36px;
	background-color: #f5f5f5;
	opacity:0.9;
	margin:0;
	font-weight: normal;
	z-index: 99;
	padding-left: 40px;
	background-image:url(/app_files/public/info.freezr.public/public/static/freezer_log_top.png);
	background-size: 36px 36px;
  background-repeat: no-repeat;
}
.freezer_server_butt_notfloat {
	float: none;
	margin-top:10px;
	width: 150px;
}
#freezr_server_server_name_area, #freezr_server_login_name_area{
	padding-top:20px;
	padding-bottom: 20px;
}
#freezr_server_logout_butt {
	height:35px;
}
.freezer_BoxTitle {
	font-weight: bold;
	margin-top: 10px;
}

.freezrButt {
	background-color: #c3c3c3;
	color: blue;
	border-radius: 5px;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 20px 5px 20px;
	cursor: pointer;
	min-width:120px;
}
.freezer_butt {
	color:blue;
	text-align:center;
	min-width:60px;
	padding:10px;
	margin:5px;
	background-color: #E2E2E2;
	border-radius:5px;
	font-weight: normal;
	cursor: pointer;
	font-size: 20px;
}
.freezer_butt_pressed {
	background-color: #DEDEDE;
	color:darkgrey;
	text-align:center;
	min-width:60px;
	padding:10px;
	margin:5px;
	border-radius:5px;
	font-weight: normal;
	cursor: default;
}
.freezer_butt_Text{
  margin-top: 3px;
	min-height: 45px;
	font-weight: normal;
}
.freezer_dialogueTitle {
	font-size: 20px;
	margin-bottom: 5px;
	padding-right:80px;
	margin-top: 0px;
	padding-top: 10px;
}
.freezr_dialogueBordered {
	margin-top: 10px;
	border-top: 1px solid grey;
}
.freezer_texture_outer {
	background-color:  #ABABAB;
	text-align:center;
	margin:0;
}
.freezer_texture_inner {
	text-align:left;
	min-height:1000px;
	max-width:835px;
	padding:20px;
	padding-top:0;
	margin:0 auto;
	background-image:url(/app_files/public/info.freezr.public/public/static/freezr_texture.png);
	background-repeat: repeat;}
