.main {
  padding: 10px;
  margin: 10px;
}

/* Uploading  */
.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 80%;
  padding: 20px;
  background-color: #eee;
  font-weight: bold;
}
.highlight {
  border-color: purple;
  background-color: darkgrey;
}
#upload_area {
  text-align: center;
  font-size: 20px;
}


.bigText {
    font-size: 20px;
    margin-bottom: 5px;
	font-weight: bold;
	width:100%;
	text-align: center;
}
.big_butt {
    margin: 10px;
    opacity: 0.9;
    color: blue;
    background-color: #E2E2E2;
    text-align: center;
    min-width: 60px;
    padding: 20px;
    margin-left:10%;
    margin-right:10%;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

#extensionName {
    width: 300px;
    font-size: 20px;
    margin: 5px;
    text-align: left;
    border-radius: 3px;
    border: 1px solid grey;
    display: inline-block;
}
#deleteMicroservice {
  display: inline-block;
}