/* admin oauth_serve_setup */
.bigText {
    font-size: 20px;
    margin-bottom: 5px;
	font-weight: bold;
	width:100%;
	text-align: center;
}
.big_butt {
    opacity: 0.9;
    margin: 10px;
    color: blue;
    text-align: center;
    min-width: 60px;
    padding: 20px;
    margin-left:10%;
    margin-right:10%;
    background-color: #E2E2E2;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.norm_text {
    font-size: 14px; important!
}
.errorBox {
    color: red;
}
.red{
    color:red;
}
.green {
    color:green;
}
.editbutt {
    cursor: pointer;
    color:blue;
}
